<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.demo.dao.UserDao">
    <select id="getUser" resultType="com.hc.demo.container.User">
        SELECT
            uid, ID, PW, Name, Nickname, `reserved KRW`
        FROM
            member
    </select>
    <select id="getUserLogin" resultType="com.hc.demo.container.User">
        SELECT
            uid, ID, PW, Name, Nickname, `reserved KRW`
        FROM
            member
        WHERE
            ID = #{ID} AND
            PW = #{PW}
<!--            password = sha2(#{password},256)-->
    </select>
</mapper>